@{
    ViewBag.Title = "About";
}
<h1 align="center">EDGAR LEONARDO PARRA ALVAREZ</h1>
<h2 align="center">MI HOJA DE VIDA</h2>

<p align="center">
    Documento de identidad: 1.018.473.282 de Bogotá<br />
    Dirección: Calle 137 A Nº 154 A - 88 Suba<br />
    Teléfonos: 320-962-1919  –  4883012<br />
    Correo: edgarleonardo03@gmail.com<br />
</p>

<h2 align="center">PERFIL PROFESIONAL</h2>
<p align="justify">
    Estudiante de Ingeniería de sistemas de 10º semestre de la universidad
    UNIREMINGTON, con conocimiento en el área técnica profesional, desarrollo
    de aplicaciones en HTML5, manejo de bases de datos SQL SERVER
    (planeación, normalización y realización de consultas), con experiencia
    de dos años en alistamiento y reparación de computadores y actualmente reforzando
    conocimientos en el lenguaje .NET, con interés en adquirir conocimientos y habilidades
    en el área de desarrollo de software, ya que en la Ingeniería de Sistemas hay varias áreas
    derivadas para profundizar y su preferencia es en el desarrollo.<br />
</p>

<p align="justify">
    Con habilidades para trabajar en equipo, buenas relaciones interpersonales,
    comunicación acertada y disposición para aprender. Persona con un alto sentido de
    responsabilidad social, innovadora, creativa, emprendedora y comprometida.<br />
</p>

<h2 align="center">FORMACIÓN ACADÉMICA</h2>
<p align="left">
    UNIVERSITARIOS: Estudiante de Ingeniería de Sistemas<br />
    CORPORACION UNIVERSITARIA UNIREMINGTON<br />
    Inicio: 2015  Bogotá D.C.<br />
</p>
<p align="left">
    TÉCNICO PROFESIONAL: Técnico de Sistemas e Informática<br />
    CORPORACION UNIVERSITARIA UNIREMINGTON<br />
    Inicio: 2012 Final: 2014   Bogotá D.C.<br />
</p>
<p align="justify">
    TRABAJO DE GRADO: Realización de aplicación para Android, con manejo de HTML5,
    Javascript, CSS (para realizar hojas de estilo) utilizando los Framework Cordova y
    Jquery-Mobile, eclipse. En el cual se desarrolló una APK la cual tenía la función
    de proporcionar información de diversos servicios relacionados con vehículos automotores
    “carros - motocicletas” entre los cuales estaba el conseguir parqueaderos, lavados de vehículos,
    puntos SIM, lugares para realizar tecno-mecánica, entre otros. <br />
</p>

<h2 align="center">CURSOS COMPLEMENTARIOS</h2>
<p align="left">
    SENA PRESENCIAL - CURSO ESPECIAL EN MICROSOFT EXCEL BÁSICO		2012/06/04
    Bogotá D.C.<br />
    SENA PRESENCIAL - CURSO ESPECIAL EN ANALISIS Y ADMINISTRACION DE DATOS EN LAS HERRAMIENTAS DE EXCEL INTERMEDIO			2012/03/27
    Bogotá D.C.<br />
    SENA PRESENCIAL - CURSO ESPECIAL EN MANEJO BÁSICO DE INFORMÁTICA Y SISTEMA OPERATIVO WINDOWS								2012/02/29
    Bogotá D.C.<br />
    SENA PRESENCIAL - CURSO ESPECIAL EN RECREACION Y DEPORTE INFANTIL	2011/08/18
    Bogotá D.C.<br />
</p>
<h2 align="center">ESTUDIOS SECUNDARIOS</h2>
<p align="left">
    Bachillerato Académico:<br />
    Gimnasio Cultural Santa Rita  <br />
</p>
<h2 align="center">REFERENCIAS LABORALES</h2>

<p align="center">
    PCCOM S.A. 	Inicie mi contrato laboral el día 7 de mayo del año 2017 en el cual trabaje
    12 meses como auxiliar de almacén adquiriendo diversas destrezas en cuanto al manejo de
    referencias de diversos equipos de cómputo, seguido de esto, mi nueva función asignada
    fue técnico de alistamiento, en el cual trabajo actualmente, y en él se he desarrollado
    habilidades para el alistamiento y reparación de equipos de cómputo.<br />
<p />

<p align="left">
    ANDRES POVEDA ENRIQUES<br />
    Ingeniero de Sistemas<br />
    Jefe inmediato y Coordinador de Logística<br />
    313-270-2026<br />
<p />
<h2 align="center">REFERENCIAS LABORALES</h2>
<p align="left">
    ERIKA YISETH VACA TIQUE<br />
    Licenciada en pedagogía infantil<br />
    312-566-3980<br /><br />

    JEISON RICARDO PARRA ALVAREZ<br />
    Estudiante de administración de empresas<br />
    310-485-7537<br />

<p />

<p align="left">EDGAR LEONARDO PARRA ALVAREZ<br />
C.C. 1.018.473.282 de Bogotá
<p/>