@{
    ViewBag.Title = "Contact";
}
<h2>EDGAR LEONARDO PARRA ALVAREZ</h2>
<h3>CELULAR: 320 962 1919</h3>
<h3>CORREO ELECTRONICO: edgarleonardo03@gmail.com</h3>
<h3>DIRECCION: Calle 137a # 154a - 88</h3>

